<header>
  <h2>Editing Book</h2>
</header>

<main>
  <%= form_with model: @book do |f| %>
  
    <p class="form-title">Title</p>
    <%= f.text_field :title %>
    
    <p class="form-title">Body</p>
    <%= f.text_area :body %>
    
    <div>
    <%= f.submit 'Update Book' %>
    </div>
    
    <p>
    <%= link_to "Show", @book %>
     | 
    <%= link_to "Back", "/books" %>
    </p>
  
  <% end %>
</main>
